<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          ="capturethebeacons.french_raj.edu.mit.scratch"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>"capture The Beacons"</name>

    <description> When the "Pick a card" Button is red, it is time for red. Same thing for blue. When you click it, your color ball will roll or the amount of seconds. If you touch the beacon, it will turn that color. the person who gets all the beacons the same color wins 
        
    </description>

    <author href="http://scratch.mit.edu/users/french_raj email="bobjobb21@gmail.com">
        "french_raj"
    </author>

</widget>
